*~
*.aux
*.bbl
*.blg
*.eps
*.log
*.nav
*.out
*.pp1
*.snm
*.tag
*.toc
*.pdf
ba/*
R.zip
*.zip
R/.RData
R/.Rhistory
.Rproj.user
*-blx.bib
*.run.xml
forFrank160129/*
forFrank160325/*
Walter-Coolen-IPMU2016/*
97-Walter-Coolen-IPMU2016-resubmission/*
/ipmu-talk/.RData
/ipmu-talk/.Rhistory
